body{
    background-color:yellow;
}
#videos{
    width:100%;
    height:500px ;
    border:none;
}
.movie head {
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom: 15px;
}
.achivement_text span
{
    color:orange

}

